
body{
    margin:25px;
    /*background: rgb(225, 224, 224);*/  

}

header{
    background: hsl(0, 0%, 68%);
    padding: 1px;
    border: groove gray;

}

nav{
    text-align: center;
    
}

span{
    font-weight: bold;
    background: rgba(136, 236, 251, 0.895);
    display: inline-block;
    padding: 2px;
    
}

h1{ 
    text-align: center;

}


h2{
    text-align: center;
     background-color: hsl(0, 0%, 68%);
     border: groove gray;
     
 }


 section{
    width:30%;
	margin: 1%;
	float:left;
    
}

div{
    border: ridge;
    background: lightblue;
}

summary{
	font-style:normal;
}

details{
	font-style: italic;
}

img{
    padding-left: 1.5%;
}

footer{
	margin: 1%;
    background: lightgray;
    clear: both;
    

}
