

body{
    background: rgb(225, 224, 224);
    text-align: center;
   margin: 25px; 
}

     header{
        background: hsl(0, 0%, 68%);
   
    }
        nav{
            font-weight: bolder;
        }

            span{
                background: rgba(136, 236, 251, 0.895);
                display: inline-block;
                width: 20%;
                height: 20%;
            }

    div{
        /*text-align: center;*/
        display: inline-block;
        margin: 0.5%;
        width: 45%;
        background: hsl(0, 0%, 68%);
    }

        section{
            margin: 2%;
            background: lightblue;
        }

            h2{
                margin-top: 1%;
                margin-bottom: 1%;
                display: inline-block;
                text-align: center;
                /*background: lightgrey;*/
    
            }

                p{
                    margin-top: 1%;
                    margin-bottom: 1%;
                }

                    ul{
                        margin-top: 1%;
                        display: inline-block;
                        width: 20%;
                        height: 20%;
                        text-align: center;
                    }

                    ol{
                        margin-top: 1%;
                        display: inline-block;
                        width: 20%;
                        height: 20%;
                        text-align: center; 
                    }

    footer{
        margin-top: 1%;
        background-color: hsl(0, 0%, 68%);
    }